# [![Gnomish Army Knife Icon](https://wow.zamimg.com/images/wow/icons/large/inv_misc_enggizmos_swissarmy.jpg)](https://www.wowhead.com/item=40772/gnomish-army-knife) {{package["name"]}} ([{{package["version"]}}](https://github.com/vkottler/gak-lua))

*{{package["description"]}}*

---

## Documentation

* [CVar Table](cvar.md)
* Keybinds
    * [GamePad](gamepad_keybinds.md)
    * [Keyboard](keyboard_keybinds.md)
    * [GamePad <-> Keyboard Mapping](keymap.md)
* Macros
    * [Global](global_macros.md)
{% for class in macros["classes"] %}
    * [{{class|capitalize}}]({{class|lower}}_macros.md)
{% endfor %}

---
