# [![Gnomish Army Knife Icon](https://wow.zamimg.com/images/wow/icons/large/inv_misc_enggizmos_swissarmy.jpg)](https://www.wowhead.com/item=40772/gnomish-army-knife) {{package["name"]}} ([{{package["version"]}}](https://github.com/vkottler/gak-lua))

*{{package["description"]}}*

---

## Documentation

* [CVar Table](docs/cvar.md)
* Keybinds
    * [GamePad](docs/gamepad_keybinds.md)
    * [Keyboard](docs/keyboard_keybinds.md)
    * [GamePad <-> Keyboard Mapping](docs/keymap.md)
* Macros
    * [Global](docs/global_macros.md)
{% for class in macros["classes"] %}
    * [{{class|capitalize}}](docs/{{class|lower}}_macros.md)
{% endfor %}
* [Action Bar Layout](docs/bars.md)
* [Various Import Strings](docs/copy_strings.md)

---

([build system](https://github.com/vkottler/{{package["name"]}}))
