{% macro action_id(value) -%}
{% if value in addon["ps"] %}{{addon["ps"][value]}}{% else %}{{value}}{% endif %}
{%- endmacro %}

{%- macro tabs(count) -%}{% for _ in range(count)%}	{% endfor %}{%- endmacro %}

{%- macro place_action(value, indent) -%}
PlaceAction({{action_id(value)}})
{{tabs(indent)}}if GetCursorInfo() then
{{tabs(indent)}}	print("wrote over existing action in slot '{{value}}'")
{{tabs(indent)}}	ClearCursor()
{{tabs(indent)}}end
{%- endmacro %}
{%- macro pickup_action(value) -%}
{% if value.startswith("m ") %}
PickupMacro("{{value[2:]}}")
{%- elif value.startswith("s ") %}
C_Spell.PickupSpell({{value[2:]}})
{%- else %}
{{value}}
{%- endif %}
{%- endmacro %}

-- https://wowpedia.fandom.com/wiki/Action_slot
GAK_MAX_ACTIONBAR = 180

function GakClearActionBars()
	for i = 1, GAK_MAX_ACTIONBAR do
		if GetActionInfo(i) then
			PickupAction(i)
			ClearCursor()
		end
	end
end

function GakSetGlobalActions()
	local global_bind_count = 0

{% for key, bind in bars["global"]["by_key"].items()|sort(attribute='0') %}
{% if bind %}
	{{pickup_action(bind)}}
	if GetCursorInfo() then
		-- {{key}}
		{{place_action(key, 2)}}
		global_bind_count = global_bind_count + 1
	else
		print("(global) Couldn't bind slot {{key}}:", [[
{{bind}}]])
	end
{% endif %}
{% endfor %}

	print("Placed " .. global_bind_count .. "/{{bars["global"]["by_key"]|length}} global actions.")
end

function GakSetClassActions()
	local class_str = select(2, UnitClass("player"))
	local class_bind_count = 0
{% for class_str, data in bars["classes"].items()|sort(attribute='0') %}

	if class_str == "{{class_str}}" then
{% for bind in data.get("array", []) %}
{% if bind[1] %}
		{{pickup_action(bind[1])}}
		if GetCursorInfo() then
			-- {{bind[0]}}
			{{place_action(bind[0], 3)}}
			class_bind_count = class_bind_count + 1
		else
			print("(class) Couldn't bind slot {{bind[0]}}:", [[
{{bind[1]}}]])
		end
{% endif %}
{% endfor %}
{% for key, bind in data.get("by_key", {}).items()|sort(attribute='0') %}
{% if bind %}
		{{pickup_action(bind)}}
		if GetCursorInfo() then
			-- {{key}}
			{{place_action(key, 3)}}
			class_bind_count = class_bind_count + 1
		else
			print("(class) Couldn't bind slot {{key}}:", [[
{{bind}}]])
		end
{% endif %}
{% endfor %}
	end
{% endfor %}

	print("Placed ".. class_bind_count .. " " .. class_str .. " actions.")
end

function GakSetSpecializationActions()
	local spec_info = {GetSpecializationInfo(GetSpecialization())}
	local id = spec_info[1]
	local name = spec_info[2]
	local spec_bind_count = 0
{% for id, data in bars["specializations"].items()|sort(attribute='0') %}
{% if id|int != 0 %}

	if id == {{id}} then
{% for bind in data.get("array", []) %}
{% if bind[1] %}
		{{pickup_action(bind[1])}}
		if GetCursorInfo() then
			-- {{bind[0]}}
			{{place_action(bind[0], 3)}}
			spec_bind_count = spec_bind_count + 1
		else
			print("(spec) Couldn't bind slot {{bind[0]}}:", [[
{{bind[1]}}]])
		end
{% endif %}
{% endfor %}
{% for key, bind in data.get("by_key", {}).items()|sort(attribute='0') %}
{% if bind %}
		{{pickup_action(bind)}}
		if GetCursorInfo() then
			-- {{key}}
			{{place_action(key, 3)}}
			spec_bind_count = spec_bind_count + 1
		else
			print("(spec) Couldn't bind slot {{key}}:", [[
{{bind}}]])
		end
{% endif %}
{% endfor %}
	end
{% endif %}
{% endfor %}

	print("Placed " .. spec_bind_count .. " " .. name .. " (" .. id .. ") actions.")

	id = C_ClassTalents.GetActiveHeroTalentSpec()
	if not id then
		return
	end
	spec_bind_count = 0
{% for id, data in bars["specializations"]["hero"].items()|sort(attribute='0') %}
{% if id|int != 0 %}

	if id == {{id}} then
{% for key, bind in data.get("by_key", {}).items()|sort(attribute='0') %}
{% if bind %}
		{{pickup_action(bind)}}
		if GetCursorInfo() then
			-- {{key}}
			{{place_action(key, 3)}}
			spec_bind_count = spec_bind_count + 1
		else
			print("(spec) Couldn't bind slot {{key}}:", [[
{{bind}}]])
		end
{% endif %}
{% endfor %}
	end
{% endif %}
{% endfor %}

	print("Placed " .. spec_bind_count .. " " .. id .. " (hero) actions.")
end

function GakSetRoleActions()
	local spec_info = {GetSpecializationInfo(GetSpecialization())}
	local role = spec_info[5]
	local role_bind_count = 0
{% for role, role_data in bars["roles"].items() %}

	if role == "{{role}}" then
{% for key, bind in role_data.get("by_key", {}).items()|sort(attribute='0') %}
		{{pickup_action(bind)}}
		if GetCursorInfo() then
			-- {{key}}
			{{place_action(key, 3)}}
			role_bind_count = role_bind_count + 1
		else
			print("(role) Couldn't bind slot {{key}}:", [[
{{bind[1]}}]])
		end
{% endfor %}
	end
{% endfor %}

	print("Placed " .. role_bind_count .. " " .. role .. " actions.")
end

function GakSetActionBars()
	-- Clear all existing bars.
	GakClearActionBars()

	-- Set character-specific macros (due to specialization-specific macro
	-- indices).
	GakSetCharacterMacros()

	-- Make sure cursor is clear.
	ClearCursor()

	-- Set all binds.
	GakSetGlobalActions()
	GakSetRoleActions()
	GakSetClassActions()
	GakSetSpecializationActions()
end
