function GakCreateGlobalMacros()
{% for name, macro in macros["global"]["by_name"].items()|sort(attribute='0') %}
	CreateMacro("{{name}}", "{{macro.get("icon", "inv_misc_questionmark")}}", [[
{{macro["body"]}}]])
{% endfor %}
	print("Created {{macros["global"]["by_name"]|length}} global macros.")
end

local function createFirstRacialMacro()
	CreateMacro("rac1", "inv_misc_questionmark", [[
/run print("no first racial")]], true)
end

local function createSecondRacialMacro()
	-- May as well assume Recuperate.
	CreateMacro("rac2", "inv_misc_questionmark", [[
#showtooltip
/cast Recuperate]], true)
end

function GakCreateCharacterMacros()
	-- Create a racial macro.
	local our_race = select(2, UnitRace("player"))
	local racial_macros_created = false
{% for race, abilities in addon["racials"].items()|sort(attribute='0') %}

	if our_race == "{{race}}" then
{% if abilities|length == 0 %}
		createFirstRacialMacro()
		createSecondRacialMacro()
{% elif abilities|length == 1 %}
		CreateMacro("rac1", "inv_misc_questionmark", [[
#showtooltip
/cast {{abilities[0]}}]], true)
		createSecondRacialMacro()
{% else %}
{% for ability in abilities %}
		CreateMacro("rac{{loop.index}}", "inv_misc_questionmark", [[
#showtooltip
/cast {{ability}}]], true)
{% endfor %}
{% endif %}
		print("Created macros for '" .. our_race .. "'.")
		racial_macros_created = true
	end
{% endfor %}

	if not racial_macros_created then
		createFirstRacialMacro()
		createSecondRacialMacro()
		print("Racial macros not configured for '".. our_race .."'.")
	end

	local class_str = select(2, UnitClass("player"))
{% for class_str, data in macros["classes"].items()|sort(attribute='0') %}

	if class_str == "{{class_str}}" then
{% for macro in data.get("array", []) %}
		CreateMacro("{{macro["name"]}}", "{{macro.get("icon", "inv_misc_questionmark")}}", [[
{{macro["body"]}}]], true)
{% endfor %}
{% for name, macro in data.get("by_name", {}).items()|sort(attribute='0') %}
		CreateMacro("{{name}}", "{{macro.get("icon", "inv_misc_questionmark")}}", [[
{{macro["body"]}}]], true)
{% endfor %}
		print("Created {{data.get("array", [])|length + data.get("by_name", {})|length}}", select(1, UnitClass("player")), "macros.")
	end
{% endfor %}
end
