function createGlobalMacros()
{% for macro in macros["global"] %}
CreateMacro("{{macro["name"]}}", "{{macro.get("icon", "inv_misc_questionmark")}}", [[
{{macro["body"]}}]])
{% endfor %}
	print("Created {{macros["global"]|length}} global macros.")
end

function createCharacterMacros()
	local class_str = select(2, UnitClass("player"))
{% for class_str, macros in macros["classes"].items() %}

	if class_str == "{{class_str}}" then
{% for macro in macros %}
		CreateMacro("{{macro["name"]}}", "{{macro.get("icon", "inv_misc_questionmark")}}", [[
{{macro["body"]}}]], 1)
		print("Created {{macros|length}}", select(1, UnitClass("player")), "macros.")
{% endfor %}
	end
{% endfor %}
end
