# [CVar](https://wowpedia.fandom.com/wiki/Console_variables)'s

([back](../README.md))

Total: `{{addon["cvars"]|length}}`

Name | Value
---- | -----
{% for key, value in addon["cvars"].items() %}
{{key}} | {% if value is string %}`{{value}}`{% else %}{{value}}{% endif +%}
{% endfor %}
