expectedCVars = {}
{% for key, val in addon["cvars"].items()|sort(attribute='0') %}
{% if val is number %}
expectedCVars["{{key}}"] = {{val}}
{% else %}
expectedCVars["{{key}}"] = "{{val}}"
{% endif %}
{% endfor %}
