## Interface: 110007
## X-Curse-Project-ID: 1105074
## X-Wago-ID: b6XVm1Gp
## X-LoadOn-Slash: /gak, /{{package["name"]}}
## Title: |cFFECEFF1{{package["name"]}}
## Notes: {{package["description"]}}
## Author: {{python["author_info"]["name"]}}
## Version: {{package["version"]}}
## IconTexture: Interface\AddOns\gnomish-army-knife\gnomish-army-knife

meta.lua

buttons.lua

actionbar_page_changed.lua
keymap.lua
keybinds.lua
expectedCVars.lua
cvars.lua
create_macros.lua
macros.lua
create_bars.lua
bars.lua
layouts.lua
chat.lua
target.lua

gnomish-army-knife.lua
