# GamePad <-> Keyboard Mapping

([back](../README.md))

---

## Modifiers

Keyboard | GamePad
-------- | -------
{% for keyboard, gamepad in addon["modifiers"].items()|sort(attribute='0') %}
{{keyboard}} | {{gamepad}}
{% endfor %}

---

## Keys

Keyboard | GamePad
-------- | -------
{% for gamepad, keyboard in addon["keymap"].items()|sort(attribute='0') %}
{{keyboard}} | {{gamepad}}
{% endfor %}

---
