[![Gnomish Army Knife Icon](https://wow.zamimg.com/images/wow/icons/large/inv_misc_enggizmos_swissarmy.jpg)](https://www.wowhead.com/item=40772/gnomish-army-knife)

{{python_readme_header_md}}
{% if "help" in global %}

# Command-line Options

```
$ {{" ".join(help["args"])}}

{{help["stdout"]}}
```
{% endif %}

## Sub-command Options
{% for command in package["commands"] %}

### `{{command["name"]}}`
{% set help_data = global["help-" + command["name"]] %}

```
$ {{" ".join(help_data["args"])}}

{{help_data["stdout"]}}
```
{% endfor %}

{{python_readme_dep_graph_md}}
